* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: red; */
    overflow: hidden;
}

.gameContainer {

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.peter {
    background-image: url(pg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 50px;

}

.obstacle {
    width: 181px;
    height: 134px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 50vw;

}

.animatePeter{
    animation: peter 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 4s linear infinite;
}

.gameOver{
    position: relative;
    top: -1px;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
    color: rgb(201, 22, 22);
    visibility: hidden;
}

#scoreCont{
    position: relative;
    left: 7px;
    top: -30px;
    border: 2px solid rgb(160, 12, 12);
    padding: 10px;
    width: 85px;
    color: rgb(17, 15, 15);

}

@keyframes peter{
    0%{
        bottom: 0;
    }

    50%{
        bottom: 422px;
    }

    100%{
        bottom: 0
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}